# Compiled class files
*.class

# Log files
*.log
logs/

# Package Files
*.jar
*.war
*.zip

# Maven
target/
target\
pom.xml.tag
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
.idea/
.vscode/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# IDE-specific directories and files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.DS_Store
Thumbs.db